@model AD___2FA.Models.TbCurriculo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbCurriculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCurriculo" />
            <div class="form-group">
                <label asp-for="Graduacao" class="control-label"></label>
                <input asp-for="Graduacao" class="form-control" />
                <span asp-validation-for="Graduacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnosExperiencia" class="control-label"></label>
                <input asp-for="AnosExperiencia" class="form-control" />
                <span asp-validation-for="AnosExperiencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursosRealizados" class="control-label"></label>
                <input asp-for="CursosRealizados" class="form-control" />
                <span asp-validation-for="CursosRealizados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
