@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bem Vindo à EADUni!</h1>
        <p>Estudar na EADUni é diferente. Além de ser a melhor educação a distância do Brasil segundo o MEC, você se desenvolve com professores renomados, material didático exclusivo e uma metodologia que se adapta a sua rotina – e ao seu bolso.</p>

        <ul>
            <li>Melhor EAD do Brasil segundo o MEC</li>
            <li> Mais de 190 mil alunos </li>
            <li>Diploma igual ao do presencial</li>
            <li>Faculdade <strong>nota máxima</strong> no MEC </li>
            <li>Cursos com nota máxima no MEC</li>
            <li>80% dos professores mestres e doutores</li>
        </ul>
    </div>
